<h1>Real-Time Products</h1>
<ul id="productList">
  {{#each products}}
    <li>{{this.name}} - {{this.price}}</li>
  {{/each}}
</ul>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="/js/realtimeproducts.js"></script>